body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

table{
    border:1px solid #234465;
    padding: 1%;
    margin: 0 auto;
    width: 70%;
    border-radius: 4px;
}
table th{
    text-decoration: underline;
    text-align: left;
}
table tbody td{
    text-align: left;
    border-bottom:1px solid black;
    padding: 0.5%;
}

table tbody tr:nth-child(even){
    background-color: #234465;
    color: white
}

table tbody tr:nth-child(odd){
    color: #234465;
    border-bottom: 1px solid black;
}

table tbody tr:nth-child(odd) button{
    background: #234465;
    color:white;
}

table tbody tr:nth-child(even) button{
    background: white;
    color:#234465;
}

table tr:hover{
    text-decoration: underline;
}

#load-students{
    background-color: #234465;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#submit-students{
    background-color: green; /* Green */
    border: none;
    color: navajowhite;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

form input{
    margin-bottom: 1%;
    width: 25%;
}

form{
    display: block;
    margin: 0 auto;
    text-align: center;
}

form button{
    margin: 0 auto;
    display:block;
    margin-top: 1%;
    margin-bottom: 1%;
    border-radius: 4px;
    background-color: #234465;
    color:white;
    border: none;
    padding: 0.5%;
}


form {
    box-sizing: border-box;
    padding: 2rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#submitBtn{
    background-color: yellowgreen; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}